<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>采购信息录入</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="assets/img/logo1.png"></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>门店信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>供应商信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>商品信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>采购信息</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="deliver.html"><i class="fas fa-table"></i><span>销售记录</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>派送信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>仓库信息</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <h1>Hello! John White</h1><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto" style="border-left-width: 0px;border-left-color: rgb(33,34,37);">
                            <li class="nav-item dropdown no-arrow">
                                <form><a href="#">Log Out&nbsp; &nbsp; &nbsp;&nbsp;<i class="fa fa-sign-out"></i></a></form>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% csrf_token %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Deliver</h3>
                    <div class="card shadow">
                        <div class="card-header" style="color: var(--bs-light);">
                            <p class="text-primary m-0 fw-bold"></p>
                        </div>
                        <div class="card-body">
                            <form>
                                <p class="text-center">新增</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="color: rgb(133, 135, 150);">
                                                <th style="width: 150px;"></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="background: rgb(248,249,252);color: rgb(133, 135, 150);">
                                                <td style="width: 150px;">
                                                    <output>{{Edit_id}}</output>
                                                </td>
                                                <td><input class="form-control" type="datetime-local" title="配送时间" name="new_goods_delivery_send_time" required></td>
                                                <td><input class="form-control" type="datetime-local"title="接收时间" name="new_goods_delivery_receive_time"required></td>
                                                <td><input class="form-control" type="number" placeholder="数量" name="new_goods_num" required></td>
                                                <td><select class="form-select border-right-0" style="background: rgb(248,249,252);" placeholder="门店号" name="new_delivery_branch_id" required>
                                                <option value="All">所有分店</option>
                                                {% for item_1,item_2 in Dist %}
                                                 <option value="{{item_1}}">{{item_1}} {{item_2}}</option>
                                                {% endfor %}

                                                </select></td>
                                                <td><input class="form-control" type="number" placeholder="仓库号" name="new_delivery_storage_id" required></td>
                                        
                                                <td><input class="form-control" type="number" placeholder="商品码"
                                                    name="new_delivery_goods_id" required></td>
                                                <td><input class="form-control" type="number" placeholder="员工号" name="new_goods_delivery_staff_id" required></td>
                                                <td style="width: 150px;"><button class="btn btn-primary" type="submit">add</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <form>
                                <p class="text-center">查询</p>
                                <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 150px;"></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width: 150px;"><input class="form-control" type="number" placeholder="单号" name="Search_Goods_delivery_id"></td>
                                                <td><input class="form-control" type="datetime-local" title="开始时间" name="Search_Goods_delivery_time_begin">
                                                </td>
                                                <td><input class="form-control" type="datetime-local" title="结束时间" name="Search_Goods_delivery_time_end"></td>
                                                <td><input class="form-control" type="number" placeholder="数量" name="Search_Goods_delivery_num"></td>
                                                <td><select class="form-select border-right-0" style="background: rgb(248,249,252);" placeholder="门店号" name="Search_Goods_delivery_Branch_id" required>
                                                <option value="All">所有分店</option>
                                                {% for item_1,item_2 in Dist %} 
                                                {% for item_1,item_2 in Dist %}
                                                 <option value="{{item_1}}">{{item_1}} {{item_2}}</option>
                                                {% endfor %}

                                                <td><input class="form-control" type="number" placeholder="仓库号"name="Search_Goods_delivery_Store_id"></td>
                                                <td><input class="form-control" type="number" placeholder="商品码" name="Search_Goods_delivery_goods_id"></td>
                                                <td><input class="form-control" type="number" placeholder="员工号"name="Search_GOods_delivery_staff_id"></td>
                                                <td style="width: 150px;">
                                                    <button class="btn" type="submit" value="确认" style="color: var(--bs-white);background: var(--bs-blue);">搜索</button><a class="btn"  href="/company_branch_delivery/?Reset=1" style="background: var(--bs-danger);color: var(--bs-white);">重置</a></td>

                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            
                            <p class="text-center"><br> {% csrf_token %}
                             {% if bill_lists %}
                             <output style="color: red;">共有{{bill_len}}条查询记录</output>
                             <br></p>
                                <div class="table-responsive table table-striped" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable_in">
                                        <thead style="height: 3px;">
                                            <form action="/company_branch_delivery/" method="POST">
                                            <tr>
                                                <th style="width: 150px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="id_Sort">
                                                        <optgroup label="单号">
                                                            <option value="" selected="">单号</option>
                                                            <option value="delivery_id_incr">单号升序</option>
                                                            <option value="delivery_id_desc">单号降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 200px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="Deliber_Send_time_Sort">
                                                        <optgroup label="发货时间">
                                                            <option value="" selected="">发货时间</option>
                                                            <option value="delivery_send_time_incr">发货时间升序</option>
                                                            <option value="14">发货时间降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 200px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="id_Sort">
                                                        <optgroup label="发货时间">
                                                            <option value="12" selected="">收货时间</option>
                                                            <option value="13">单号升序</option>
                                                            <option value="14">单号降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="Goods_number">
                                                        <optgroup label="数量">
                                                            <option value="" selected="">数量</option>
                                                            <option value="goods_number_incr">数量升序</option>
                                                            <option value="goods_number_desc">数量降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 140px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="Branch_id_Sort">
                                                        <optgroup label="类目">
                                                            <option value="">门店号</option>
                                                            <option value="branch_id_incr">门店号-升序</option>
                                                            <option value="branch_id_desc">门店号-降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 140px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="id_Sort">
                                                        <optgroup label="仓库号">
                                                            <option value="12" selected="">仓库号</option>
                                                            <option value="13">仓库号升序</option>
                                                            <option value="14">This is item 3</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 140px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="id_Sort">
                                                        <optgroup label="商品码">
                                                            <option value="12" selected="">商品码</option>
                                                            <option value="13">商品码升序</option>
                                                            <option value="14">商品码降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 140px;"><select class="form-select border-right-0" style="background: rgb(248,249,252);" name="Staff_id_Sort">
                                                        <optgroup label="类目">
                                                            <option value="">员工号</option>
                                                            <option value="staff_id_incr">员工号-升序</option>
                                                            <option value="staff_id_desc">员工号-降序</option>
                                                        </optgroup>
                                                    </select></th>
                                                <th style="width: 300px;margin: 0px;">
                                                    <div class="row"><select class="form-select border-right-0" style="background: rgb(248,249,252);width: 40%;height: 38px;margin: 0px 0px 0px 8px;" name="id_Sort">
                                                            <optgroup label="单\多级排序">
                                                                <option value="12" selected="">单极排序</option>
                                                                <option value="13">多级排序</option>
                                                                <option value="14">This is item 3</option>
                                                            </optgroup>
                                                        </select><button class="btn btn-primary" type="submit" value="确认" style="height: 38px;width: 40%;margin: 0px 0px 0px 12px;">确定排序</button></div>
                                                </th>
                                            </tr>
                                        </form>
                                        </thead>
                                        <tbody>
                                            {% for bill in bill_lists%}
                                            <tr><form>
                                                <td><output>{{bill.goods_delivery_id}}</output></td>
                                                <td><output>{{bill.goods_delivery_send_time}}</output></td>
                                                <td><output>{{bill.goods_delivery_receive_time}}</output></td>
                                                <td><output>{{bill.goods_num}}</output>
                                                </td>
                                                <td><output>{{bill.delivery_branch_id.branch_id}}</output></td>
                                                <td><output>{{bill.delivery_storage_id.storage_id}}</output></td>
                                                <td> <output>{{bill.delivery_goods_id.goods_id}}</output></td>
                                                <td><output>{{bill.goods_delivery_staff_id.user_account}}</output></td>
                                                <td><a class="btn" href="/company_branch_delivery/?Edit_id={{bill.goods_delivery_id}} "type="submit"  style="color: var(--bs-white);background: var(--bs-blue);" onclick="change(this)">修改</a><a class="btn" href="/company_branch_delivery/?Delete_id={{bill.goods_delivery_id}}" style="background: var(--bs-danger);color: var(--bs-white);" onclick="dltRow()">删除</a></td>
                                            </form>
                                            </tr>
                                            {% endfor %}
                                            <p class="text-center"><br>
                                            {% else %}
                                             <label style="color: red;">无查询结果</label>
                                            {% endif %}
                                            <br></p>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td><strong>单号</strong></td>
                                                <td><strong>发货时间</strong></td>
                                                <td><strong>收货时间</strong></td>
                                                <td><strong>数量</strong></td>
                                                <td><strong>门店号</strong></td>
                                                <td><strong>仓库号</strong></td>
                                                <td><strong>商品码</strong></td>
                                                <td><strong>员工号</strong></td>
                                                <td><strong>操作</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of {{bill_len}}</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            {% if bill_lists.has_previous %}
                                            <li class="page-item"><a class="page-link" href="/company_branch_delivery/?page={{ bill_lists.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            {% endif %}

                                            {% for index in paginator.page_range %}
                                             {% if index == bill_lists.number %}
                                            <li class="page-item active"><a class="page-link" href="/company_branch_delivery/?page={{ index }}">{{ index }}</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="/company_branch_delivery/?page={{ index }}">{{ index }}</a></li>
                                            {% endif %}
                                            {% endfor %}


                                            {% if bill_lists.has_next %}
                                            <li class="page-item"><a class="page-link" href="/company_branch_delivery/?page={{ index }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
    <script type="text/javascript">
        function dltRow(index){
            var tr = index.parentNode.parentNode;
            tr.parentNode.removeChild(tr);
        }
        function change(index){
            var newform=document.createElement("form");
            var row=index.parentNode.parentNode;//table row
            var cells=row.getElementsByTagName("td");//get all tablecells
            var newcells=[];
            console.log(row);
            console.dir(row);
            console.log(cells);
            for(var i=0;i<cells.length-1;i++){
                newcells[i]=document.createElement("input");
            
                newcells[i].type="number";

                newcells[i].value=cells[i].innerHTML;
                cells[i].innerHTML="";
                cells[i].appendChild(newcells[i]);
            }
            cells[cells.length-1].innerHTML="";
            var confirm=document.createElement("button");
            confirm.innerHTML="confirm";
            confirm.type="submit";
            cells[cells.length-1].appendChild(confirm);

        }
    
</script>
</body>

</html>