<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="SHORTCUT ICON" href="/static/img/logo_32.ico">
  <title>Login Page</title>
    <style >
     video{
        width: 100%;
        position: absolute;
     }
      #vcode {
        width: 70%;
        font-size: 15pt;
        margin-left:0px;
        margin-top:10px;
      }
      #code {
          color: #000000;
          background-color: rgba(180, 245, 245,0.6);
          font-size: 16pt;
          padding: 15px 15px 15px 15px;
          position: absolute;
          margin-left: 5%;
          margin-top: 5%;
          cursor: pointer;
      }
    </style>
</head>
<body onload="changeImg()">
    <video autoplay loop muted>
      <source src="/static/Homepage.webm" type="video/webm">
<!--        <embed width="1920" height="1080" src="movie.swf">-->
    </video>
  <div style="width: 80%; margin-left: 30% ; padding-top: 15%;">
    <div class="ui stackable centered column grid">
      <div class="centered row">
        <div class="six wide column">
          <div style="padding-bottom: 5em; background-color: rgba(245, 245, 245,0.4);" class="ui segment">
            <form action="/login/" method="POST" class="ui form" onsubmit="return check()">
              {% csrf_token %}
              <h2 style="color: black;" align="center">系统登入</h2>
              <label style="color: red;">{{ msg_1 }}</label>
              <div class="field">
                <label for="username"></label>
                <input style="font-size: 15pt; margin-top:10px" placeholder="用户名" type="text" name="username" required>
              </div>
              <label style="color: red;">{{ msg_2 }}</label>
              <div class="field">
                <label for="password"></label>
                <input style="font-size: 15pt; margin-top:10px" placeholder="密码" type="password" name="password" required>
              </div>

              <input id="vcode" placeholder="验证码" type="text" onfocus="this.value=''" onblur="if(this.value=='')this.value='验证码'" autocomplete="off" >
              <span id="code" title="看不清，换一张"></span>
              <input type="submit" id="submit" value="登录" style="width:100%; background-color: #FF8D00; font-size: 16pt; margin-top: 5%" class="ui button" >

              <div >
                <a href="/show/" style="font-size: 16pt; position: absolute; margin-left: 60%; margin-top: 5%" >注册新账号>></a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
	<script type="text/javascript">
		var code;
		document.getElementById("code").onclick = changeImg;
		function changeImg() {
			var arrays = new Array(
				'1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
				'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
				'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
				'u', 'v', 'w', 'x', 'y', 'z',
				'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
				'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
				'U', 'V', 'W', 'X', 'Y', 'Z'
			);
			code = '';
			for(var i = 0; i < 4; i++) {
				var r = parseInt(Math.random() * arrays.length);
				code += arrays[r];
			}
			document.getElementById('code').innerHTML = code;
		}

		//效验验证码(表单被提交时触发)
		function check() {
			//获取用户输入的验证码
			var input_code = document.getElementById('vcode').value;
			if(input_code.toLowerCase() == code.toLowerCase())
				return true;
			alert("请输入正确的验证码!");
			return false;
		}
	</script>
</html>